body, html {
  height: 100%;
  width: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("homeBackgroundImage.jpg");
  min-height: 100%;
}

.navbar-light img{
    margin-left: 10vw;
    float:left;
}

.navbar-light{
    transition:500ms ease;
    background:transparent;
}

.navbar-light ul li a{
    float: left;
    color: white;
    margin-left: 4vw;
}

.navbar-light ul{
    margin-left: 3vw;
    margin-right: 10vw;
    display:inline-block;
    vertical-align:top;
}

.navbar-light.scrolled ul{
    margin-left: 3vw;
    margin-right: 10vw;
    display:inline-block;
    vertical-align:top;
}

.navbar-light ul li{
    padding: 0vw;
    display: inline;
}

.navbar-light.scrolled ul li{
    padding: 0vw;
    display: inline;
}

.navbar-light.scrolled ul li a{
    color: white;
    margin-left: 4vw;
}

.navbar-light.scrolled{
    background:#8253BC;
}

.nav-link{
    color: black;
}

.myAvatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: 20%;
    padding-top: 10%;
}

.word-generator {
    text-align: center;
    padding-top: 2em;
}

.word-generator a{
    color: white;
}

.myPicture{
    border-radius: 50%;
    display: block;
    width: 25vw;
    height: 50vh;
}

.about-container{
    display: flex;
    margin-top: 25vh;
}

.about-picture{
    flex:1;
    margin-left: 10%;
}

.about-information{
    margin-right: 10%;
}

.about-title{
    text-align: center;
}

.about-para{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

#about{
    height: 100%;
}

#resume{
    position: relative;
    margin-top: -20vh;
}

#skills img{
    width: 30vw;
    height: 30vw;
}

#banner{
    background-image: url("homeBackgroundImage.jpg");
    min-width: 100%;
    height: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
}

#quote{
    text-align: center;
    color: white;
    padding-top: 5em;
}

.list-group{
    position: sticky; 
    top: 5vw;
}

footer{
    background: #8253BC;
    border: 0.8vw solid #8253BC;
    color: white;
}

#contact{
    padding-bottom: 5%;
}

.contactText{
    padding-bottom: 10%;
    padding-top: 10%;
}

.card{
    text-align: center;
    height: 15rem;
}

.card img{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 675px) {
     .navbar-light ul li a{
         font-size: 3vw;
         margin-left: 2vw;
    }

    .navbar-light img{
        margin-left: 5vw;
    }

    .navbar-light.scrolled ul li a{
        font-size: 3vw;
        margin-left: 2vw;
    }
   
    .navbar-light.scrolled img{
       margin-left: 5vw;
    }

     .myAvatar{
        height: 100vw;
        width: 75vw;
        padding-top: 30%;
    }

     .about-para{
      font-size: 3vw;
      margin-left: 2vw;
      margin-right: -1vw;
    }

    .about-title{
        font-size:10vw;
    }

    .myPicture{
        width: 70vw;
        height: 50vh;
    }

    .about-container{
        display: block;
    }

    .about-picture{
        margin-left: 15vw;
    }

    #skills img{
       width: 80vw;
       height: 80vw;
    }

    #resume{
        margin-top: 20vw;
    }

    #banner{
        font-size: 2vh;
    }
}




